.userListWrap {
  margin-top: 80px;
  width: 100%;
  height: 518px;
}
.leftWrap {
  display: flex;
  flex-direction: column;
  justify-content: left;
  align-items: flex-start;
  height: 100%;
  width: 300px;
  background-color: #008DDA;
}
.leftWrap img {
  height: 80px;
  margin: 2rem 0;
  padding: 5px;
}
.leftWrap {
  font-weight: bold;
  font-size: 2.5rem;
  letter-spacing: 5px;
  color: #3d3d3d;
}
.leftWrap a {
  text-decoration: none;
  color: #3d3d3d;
  font-weight: bold;
}
.leftWrap li {
  padding: 20px 51px;
  background-color: #41C9E2;
}
.leftWrap li:hover {
  background-color: #aaaaaa;
  color: white;
  cursor: pointer;
}
.leftWrap a:hover {
  color: white;
    background-color: #3d3d3d;

}
