.cntWrap{
    margin-top: 80px;
    text-align: center;
    font-size: 2.5rem;
    background-color: #58A0C8;
    width: 100%;
    height: 1125px;
}
.innerDiv{
    font-size: 1rem;
}
.innerDiv{
    display: flex;
    justify-content: center;
}
.innerDiv a{
    color: blue;
    text-decoration: none;
}
.innerDiv h4{
    color: rgb(118, 247, 204);
}
.detailsDiv{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    margin-top: 2rem;
    line-height: 3rem;
    transform: translateX(1.6rem);
}
.imgWrap img{
    width: 400px;
    height: 500px;
}
.textWrap h2{
    font-size: 2rem;
}
.textWrap p{
    font-size: 1rem;
}
.branchDiv{
    margin-top: 7rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 2px;
}
.branches h4{
    font-size: 1.2rem;
}
.branches p{
    font-size: 1rem;
}   










.imgDiv{
    margin-top: 50px;
}
.imgDiv img{
    width: 100%;
    height: 400px;
    box-shadow: 0 0 20px black;
}