.footerWrap {
  display: flex;
  justify-content: center;
  align-items: center;
  gap:10rem;
  background-color: #eee4b1;
  padding: 5rem;
}
.contactWrap {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 10px;
  height: 590px;
  width: 400px;
  background-color: #C59560;
  border-radius: 1rem;
  padding: 2.5rem;
  line-height: 3rem;
  color: rgb(255, 255, 255);
  transition: all ease-in-out 0.3s;
}
.contactWrap:hover{
  box-shadow: 0 0 15px #C59560;
}
.contactWrap ul {
  list-style-type: none;
}
.contactWrap a {
    text-decoration: none;
}
.contactWrap li{
    color: #3fefff;

}
.iconWrap {
  display: flex;
  justify-content: center;
  gap: 55px;
  align-items: center;
}
.hrLine {
  height: 3px;
  background: #371e42;
  margin: 1.5rem auto;
}

.chatWrap{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 10px;
  height: 590px;
  width: 1000px;
  border-radius: 1rem;
  padding: 2.5rem;
  line-height: 2.5rem;
  color: rgb(255, 255, 255);
}
.headDiv{
    font-size: 2rem;
}
.headDiv h2{
    color: #948979;
    padding-bottom: 5px;
}
.headDiv h5{
    color: #393E46;
}
.rowDiv{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 30px;
    margin-bottom: 1rem;
}
.withinRow input,
.withinRow select,
.withinRow textarea {
  width: 100%;
  padding: 0.8rem 1rem;
  border: none;
  border-radius: 0.5rem;
  outline: none;
  font-size: 1rem;
  background-color: #fff9ef;
}
.withinRow input{
    width: 385px;
    transition: all ease 0.5s;
}
.withinRow input:hover{
    background-color: #948979;
    cursor: pointer;
}
.withinRow input:focus {
  background-color: white;
}
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.withinRow select{
  font-size: 1.2rem;
    width: 385px;
    appearance: none;
    background-image: url("data:image/svg+xml;utf8,<svg fill='black' height='24' viewBox='0 0 24 24' width='24' xmlns='http://www.w3.org/2000/svg'><path d='M7 10l5 5 5-5z'/></svg>");
  background-repeat: no-repeat;
  background-position: right 1rem center;
  background-size: 1rem;
  transition: all ease 0.5s;
}
.withinRow select:hover{
    background-color: #948979;
    cursor: pointer;
}
.withinRow select:focus {
  background-color: white;
}
.withinRow .subjectDiv{
    width: 800px;
    height: 75px;
}
.withinRow textarea {
   min-height: 150px;
   min-width: 800px;
   max-height: 150px;
   max-width: 800px;
   transition: all ease 0.3s;
}
.withinRow textarea:hover{
    background-color: #948979;
    cursor: pointer;
}
.withinRow textarea:focus {
  background-color: white;
}
.withinRow input::placeholder,
.withinRow select::placeholder,
.withinRow textarea::placeholder {
    font-size: 1.2rem;
    color: #393E46;
}



.withinRow button {
  width: 800px;
  height: 50px;
  padding: 0.8rem 1rem;
  background: #3fefff;
  border: none;
  border-radius: 0.5rem;
  font-size: 2rem;
  font-weight: bold;
  font-family: monospace;
  color: rgb(99, 99, 99);
  cursor: pointer;
  transition: all 0.3s ease;
   display: flex;
  justify-content: center;
  align-items: center;
}

.withinRow button:hover {
  background: #2bcdd9;
  color: #fff;
}
.footerEndWrap{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 300px;
  width: 100%;
  height: 60px;
  background-color: #EDA35A;
}
.footerEndWrap img{
  height: 50px;
}
.linksDiv{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px;
}
.linksDiv a{
  text-decoration: none;
  font-size: 1.3rem;
    color:#0F0E0E;
  background-image: linear-gradient(black, black);
  background-size: 0% 2px;
  background-repeat: no-repeat;
  background-position: left bottom;
  transition: all ease 0.4s;
}
.linksDiv a:hover{
  background-size: 100% 3px;
}